.modal {
  position: relative;
  box-sizing: border-box;
  width: 335px;
  /* height: 484px; */
  padding: 64px 20px;
  background-color: #ffffff;
  border-radius: 40px;
}

.title {
  margin-bottom: 32px;
  text-align: center;
  font-family: 'Comfortaa';
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #000;
}

@media (min-width: 768px) {
  .modal {
    width: 704px;
    /* height: 441px; */
    padding: 64px 32px;
  }
}

@media (min-width: 1024px) {
  .modal {
    width: 768px;
    /* height: 472px; */
    padding: 64px 64px;
  }
}
