.momTipCard {
  min-width: 335px;
  background-color: var(--color-pastel-pink-lighter);
  padding: 24px;
  border-radius: 32px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .momTipCard {
    margin-bottom: 48px;
  }
}

@media (min-width: 1440px) {
  .momTipCard {
    margin-bottom: 0;
    width: 642px;
    height: 138px;
  }
}

.momTipCard__title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 4px;
}

.momTipCard__paragraph {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #000;
}
