.statusBlock {
  display: flex;
  gap: 16px;
  min-width: 335px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .statusBlock {
    gap: 32px;
    margin-bottom: 32px;
  }
}

@media (min-width: 1440px) {
  .statusBlock {
    max-width: 642px;
  }
}

.statusBlock__block {
  background-color: var(--color-pastel-pink-lighter);
  border-radius: 32px;
  padding: 16px;
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1440px) {
  .statusBlock__block {
    height: 127px;
  }
}

.statusBlock__label {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.statusBlock__value {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
}
