.zaglushka {
  border-radius: 32px;
  width: 335px;
  height: 688px;
  background: #fff4f6;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .zaglushka {
    width: 704px;
    height: 671px;
  }
}

@media (min-width: 1440px) {
  .blockWrapper {
    display: flex;
    gap: 32px;
  }

  .firstBlock {
    max-width: 642px;
  }

  .secondBlock {
    max-width: 422px;
  }

  .zaglushka {
    height: 499px;
    width: 390px;
    margin-bottom: 32px;
  }
}
