.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--color-scheme-background);
  border-radius: 40px;
  padding: 64px 20px;
  width: 100%;
  max-width: 335px;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.closeIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-scheme-text);
  stroke: var(--color-scheme-text);
}

@media (min-width: 768px) {
  .modal {
    padding: 64px 32px;
    max-width: 704px;
  }
}

@media (min-width: 1440px) {
  .modal {
    padding: 64px;
    max-width: 768px;
    width: 768px;
  }
}