.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}

.error {
  color: var(--color-red);
  font-size: 12px;
  margin-top: 4px;
}

.input {
  background-color: var(--opacity-neutral-darkest-5);
  outline: none;
  border: transparent;
  height: 40px;
  border-radius: 12px;
  padding: 0 12px;
}

.input::placeholder {
  color: var(--color-neutral);
}

.label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 159.5px;
  background-color: var(--opacity-neutral-darkest-5);
  border: transparent;
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  height: 40px;
  border-radius: 100px;
  color: var(--color-neutral-darkest);
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  transition:
    background-color 0.3s ease-in-out,
    border-bottom 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--color-white);
}

.button_save:hover {
  background-color: var(--color-pastel-pink-lighter);
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
}

.button:active {
  background-color: var(--color-neutral-light);
  border-bottom: 0px solid var(--opacity-neutral-darkest-15);
}

.button_save:active {
  background-color: var(--color-pastel-pink);
  border-bottom: 0px solid var(--opacity-neutral-darkest-15);
}

.button_save {
  background-color: var(--color-pastel-pink-light);
  border-bottom: 4px solid var(--color-pastel-pink);
}

@media screen and (min-width: 768px) {
  .buttons_container {
    justify-content: flex-end;
  }

  .button {
    width: 150px;
  }
}
