.babyTodayCard {
  min-width: 335px;
  background-color: var(--color-pastel-pink-lighter);
  padding: 24px;
  border-radius: 32px;
  margin-bottom: 24px;
}

@media (min-width: 1440px) {
  .babyTodayCard {
    width: 642px;
    height: 421px;
  }
}

.babyTodayCard__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.babyTodayCard__imageBox {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  overflow: hidden;
  width: 287px;
  height: 216px;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.babyTodayCard__image {
  width: 285px;
  height: 216px;
}

@media (min-width: 768px) {
  .babyTodayCard__imageBox {
    width: 257px;
    height: 194px;
  }
  .babyTodayCard__image {
    width: 257px;
    height: 194px;
  }
}

.babyTodayCard__paragraphBox {
  margin-bottom: 24px;
}

.babyTodayCard__paragraph {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #000;
}

@media (min-width: 768px) {
  .babyTodayCard__imageWithTextBox {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
