.babyTodayCard {
  min-width: 335px;
  background-color: var(--color-pastel-pink-lighter);
  padding: 24px;
  border-radius: 32px;
}

.babyTodayCard__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.babyTodayCard__imageBox {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  overflow: hidden;
  width: 287px;
  height: 216px;
  margin-bottom: 16px;
}
